
/* #region general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    background-image: url("./img/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 512px;
}

/* #endregion general */

main {
    color:white;
    font-family: "DM Sans", sans-serif;
}

#banner {
    width: 100%;
}



h2 {
    font-family: "Sigmar", sans-serif;
}