
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* #region general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%; /* metto questa parte sempre dopo il reset in modo tale che nessuna immagine sfondi mai il file*/
}

/* Deninisco variabili:
  in questo modo posso usare il nome di queste variabili al posto dei colori
    usando comando var()
    */

:root {
    --dis-bg: #191d7b;
    --dis-btn: #5865f2;
    --dis-card-bg: #5d64d1;
    --dis-gradient: #2e3084;
    --dis-white: white;
    --dis-black: black;
}

body{
    
    background-color: var(--dis-bg);
    width: 512px;
    margin: 0 auto;
}

  

/* #endregion general */

/*  #region structure */
#banner {
    width: 100%; /*In questo modo l'immagine non sborda e sta sempre al 100% dello schermo*/
}


main {
    
    color:var(--dis-white);
    font-family: "DM Sans", sans-serif;
    padding: 3rem;

}
/*  #endregion structure */

/*  #region intro */

#intro {
    padding: 1.5rem;
}

#title{

    font-family: "Sigmar", sans-serif;
    padding: 0 1rem 0;
    line-height: 2rem;
    text-align: center;
    /* Volendo, invece che scrivere direttamente il titolo in maiuscolo 
    potevo lasciarlo in minuscolo e usare text-transfrom: uppercase; */

}

#opening-p {
    text-align: center;
    padding:1rem 0 1rem;
}

#download-button{
    display: block;
    border-radius: 1.5rem;
    padding: 1.5rem; 
    width: 100%; 
    font-size: 1.25rem;
    margin-bottom: 1rem;
    border:none;
}

#browser-button {
    display: block;
    border-radius: 1.5rem;
    padding: 1.5rem;
    width: 100%;
    font-size: 1.25rem;
    background-color: var(--dis-btn);
    color:var(--dis-white);
    border:none;
}
/* #endregion intro */

/*  #region card */

.card {
    /* background-color:#5d64d1 ; */
    /* background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(var(--dis-gradient), var(--dis-card-bg));
    padding: 3.5rem 2rem;
    border-radius: 2rem;
    position: relative;
    margin: 3rem 0;

}

.icon {
    width: 20%;
    position: absolute;
    top: 0%;
    left: 50%;
    translate: -50% -50%;
} 

.card-title {
    font-family: "Sigmar", sans-serif;
    font-size: 2rem;
    line-height: 2rem;
    max-width: 20rem;
}

.card-p {
    padding: 1rem 0;
    max-width: 21rem;
}

.video {
    border-radius: 2rem;
    width: 100%;
}
/* #endregion card */